<h3>Invoice ID: <%= @invoice.id %></h3>
  <p>Status: <%= @invoice.status %></p>
  <p>Created At: <%= @invoice.created_at.strftime("%-m/%d/%y") %></p>
  <p>Customer Name: <%= @invoice.full_name %></p>

<h3>Items on This Invoice:</h3>
  <div id="merchant_invoice_items">

  <% @invoice.invoice_items_from_merchant(@merchant.id).each do |invoice_item| %>
    <div class="merchant_invoice_item">
    <p>Item Name: <%= invoice_item.item.name %></p>
    <p>Quantity Ordered: <%= invoice_item.quantity %></p>
    <p>Item Price: <%= number_to_currency(invoice_item.unit_price / 100) %></p>
    <p>Invoice Item Status: <%= invoice_item.status %></p>
    
    <% if invoice_item.available_discounts.count != 0 %>
      <p><%= link_to "Discount Page", "/merchants/#{@merchant.id}/discounts/#{invoice_item.invoice_item_discount_id[0].did}" %></p>
    <% end %>

    <%= form_with url: "/merchants/#{invoice_item.item.merchant_id}/invoices/#{@invoice.id}", method: :patch, local: true do |form| %>
      <%= form.select :status, [["packaged"], ["pending"], ["shipped"]] %>
      <%= form.submit "Update Item Status" %>
      <%= form.hidden_field :invoice_item_id, value: invoice_item.id %>
    <% end %>

    </div>
  <% end %>
  </div>

<p>Total Invoice Revenue: <%=number_to_currency(@invoice.total_price / 100) %></p>
<p>Total Merchant Revenue Before Discounts: <%=number_to_currency(@invoice.total_invoice_revenue(@merchant.id) / 100) %></p>
<p>Total Merchant Revenue After Discounts: <%=number_to_currency((@invoice.total_invoice_revenue(@merchant.id) - @invoice.discount_total) / 100) %> </p> 
